h1{
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}

body{
    width: 940px;
    margin: 0 auto;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #3D3D3D;
}

figure{
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    padding: 15px;
    margin: 30px;
}

figcaption{
    margin-top: 10px;
}

h2{
    border-bottom: 2px solid black;
}

/* img {
    width: 300px; aplicando largura para todas as tags <img>
} */

/* figure img{
    width: 300px; aplicando largura para todas as imagens que são filhas de uma tag <figure>
} */

/* #matriz-musicdot{
    width: 300px; aplicando um id para uma imagem específica
} */

/* .familia-tupfeln{
    width: 300px; aplicando uma classe para uma imagem específica
} */

/*
pontuações de seletores:
tag - 1
classe - 10
id - 100
seletores com pontuações maiores são as que valem, caso tenha definido no código 2 efeitos diferentes para a mesma imagem, ou texto e etc
*/

