p {
    color: blue;
    background-color: yellow;
    font-family: monospace;
    text-align: right;
    /* line-height: 10px;  tamanho da altura de cada linha */
    /* letter-spacing: 1px;  tamanho do espaço entre cada letra */
    /* word-spacing: 0px;  tamanho do espaço entre cada palavra */
    /* text-indent: 30px;  tamanho da margen da primeira linha do texto */
}

h1{
    color: lightblue;
    font-family: serif;
    /* comando para inserir uma imagem da pasta css -> background-image: url(sobre-background.jpg); */
    background-image: url(https://i.imgur.com/uAhjMNd.jpg);
    border-top: 1px solid red; /*borda vermelha em cima*/
    border-bottom: 1px solid red; /*borda vermelha em baixo*/
    border-right: 1px solid red; /*borda vermelho à direita*/
    border-left: 1px solid red; /*borda vermelha à esquerda*/
}

h2{
    font-family: sans-serif;
}

body{
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    font-style: italic;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    /*você pode utilizar "border: 1px solid red;" */
    background-color: whitesmoke;
}

h3{
    color: rgb(0, 0, 255)
}

li{
    text-align: center;
    background-color: #f2a6ed;

    /*height: 80px;
    width: 1850px;
    padding-right: 200px;
    padding-left: 200px
    margin é parecido com o padding, porém o margin seria externo;
    
    padding pode ser definido por padding-top ou pode ser definido padding: 0px 0px indicando a primeira coluna para top e bottom e a segunda para left e right
    pode ser definido como padding: 0px 0px 0px 0px; para definir top, right, bottom e left respectivamente nessa ordem*/

    height: 60px;
    padding: 5px 50px;
    margin: 0 auto;
}